{% extends 'base.html.twig' %}


{% block body %}

<h1>Bienvenu dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta adipisci vitae voluptatum tenetur sed consequatur! Laboriosam, possimus eligendi labore nobis adipisci molestiae, impedit dolore ab vero alias corrupti mollitia, in dolores nisi at rerum nesciunt illo! Rerum, ipsa suscipit. Debitis impedit voluptates, voluptatum soluta deserunt est iste odit quas ex.</p>
<p>Quod commodi enim, quae est vel, omnis obcaecati autem recusandae nostrum ab iste velit facilis perspiciatis. Perferendis animi, facere, officiis eligendi earum, quibusdam sint velit a cum minima placeat consequatur impedit sed unde non. Cum saepe fuga impedit, ea at atque magni ad, repellat deleniti, praesentium pariatur ratione error dolorem.</p>

{% endblock %}
